<h3>Application Archive</h3>

<p><%= form_tag archive_leave_applications_path,method: :get,id:"archive" do%>
	
  <%= select_tag :status_name, options_for_select([["Approved",5],["Rejected",3]]),
			{prompt: "Please Select"}%>
  	
  <%= submit_tag "Filter" %><br/>
  <% end %>
  


<div id='x'>
	<%= render 'leaveApplications'%>
</div>

