<h3>List Of Application</h3>

<p><%= form_tag show_status_leave_applications_path,method: :get,id: "formStat" do%>
	
  <%= select_tag :status_name, options_for_select([["Not Submitted",1],["Pending",2],["Rejected",3],["Approved by Manager",4],["Approved",5]]),{prompt: "Please Select"}%>
  	
  <%= submit_tag "Filter" , id: "stat"%><br/>
  <% end %>
<div id='x'>
	<%= render 'leaveApplications'%>
</div>
