<h2>List Of Leave Applications that has been removed</h2>

<% if @del.empty? %>
	<center><h3><i>There is no Leave Applications Deletion Notifications at the moment</i></h3></center>
<% else %>
<center>
<div id="deletions"><%= render "deletions" %></div>
</center>

<% end %>